html{
  font: georgia;
  font-size: medium;
  color:beige;
  background-color: rgb(100, 96, 96);
  align-items: center;
}
/* .container{
  position: absolute;
  align-items: center;
} */

#group1 .preview {
  position: absolute;
  top: 40vh;
  left: 35vw;

  /* background: rgb(181, 7, 7); */
  /* box-shadow: 0 0 9px 9px rgb(196, 6, 6); */
}

#group1 .message {
  display: none;

  position: absolute;
  top: 700px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(161, 31, 31, 0.856);
  width: 300px;
  padding: 12px;
}
#group1 .preview:hover > .message {
  display: block;
}

#group2 .preview2 {
  position: absolute;
  top: 140vh;
  left: 35vw;

  /* background: rgb(181, 7, 7); */
  /* box-shadow: 0 0 9px 9px rgb(196, 6, 6); */
}

#group2 .message2 {
  display: none;

  position: absolute;
  top: 820px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(41, 118, 218, 0.856);
  width: 300px;
  padding: 12px;
}
#group2 .preview2:hover > .message2 {
  display: block;
}

#group3 .preview3 {
  position: absolute;
  top: 260vh;
  left: 35vw;

  /* background: rgb(181, 7, 7); */
  /* box-shadow: 0 0 9px 9px rgb(196, 6, 6); */
}

#group3 .message3 {
  display: none;

  position: absolute;
  top: 820px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(235, 196, 39, 0.856);
  width: 300px;
  padding: 12px;
}
#group3 .preview3:hover > .message3 {
  display: block;
}