html{
  font-family: 'Georgia';
  font-size: 20px;
}

.entries{
  /* display:flex; */
  /* flex-wrap: wrap; */
  align-items: flex-start;
  position: absolute;
}

#Summer22{
  margin-left: 100px;
  /* right: 90%; */
  
}

#Strips{
  margin-left: 30%;
  bottom: 80%;
}

#Hope{
  margin-left: 200px;
}

#Sunrise{
  margin-left: 800px;
}

#Conchas{
  margin-left: 1000px;
}