body{
  font-family: georgia;
  size: 20px;
  background-color: peachpuff;
  /* position:absolute; */
}
#boxes {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left{
  width: 50%;
  align-self: center;
}

.right{
align-self: center;
}

#sentence{
  
}

/* div {
  /* float: left; */
  /* height: 470px;
  width: 40%; */
  /* padding: 0 10px; */



/* #text{
margin-left: 30%;  
width: 40%;
margin-top: 30%;

} 

#recording{
  /* align-self: center; */
  /* margin-left: 80%;

} */

/* #sentence{
  margin-left: 90%;
  margin-top: 20%;
} */ 