body{
  font-family: georgia;
  size: 20px;
  
}

.entries{
  position: absolute;

}

#text{
margin-left: 30%;
border: 20px; color:brown;


} 
#rec{
  /* align-self: center; */
  margin-left: 43%;

}

#appreciation{
  margin-left: 45%;
}