body{
  font-family: georgia;
  size: 20px;
  background-color: peachpuff;
}

.entries{
  position: absolute;

}

.text{
left:30vw;



} 
#rec{
  /* align-self: center; */
  margin-left: 43%;

}

#appreciation{
  margin-left: 45%;
}