html{
  font: georgia;
  font-size: medium;
  color:beige;
  align-items: center;
}
/* .container{
  position: absolute;
  align-items: center;
} */

#group1 .preview {
  position: absolute;
  top: 10vh;
  left: 23vw;

  /* background: rgb(181, 7, 7); */
  /* box-shadow: 0 0 9px 9px rgb(196, 6, 6); */
}

#group1 .message {
  display: none;

  position: absolute;
  top: 750px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(98, 134, 235, 0.856);
  width: 300px;
  padding: 12px;
}
#group1 .preview:hover > .message {
  display: block;
}
