body {
  background: rgb(218, 56, 50);
  color: rgb(218, 203, 228);
  font-size: 24px;
  font-family: garamond;
  width: 375px;
  margin: 0 auto;
  text-align: center;
}

.dot {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  /* background: white; */
  color: rgb(218, 203, 228);
  padding: 50px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* transform: scale(0.01); */
opacity: 0;
  /* transition: transform 3s linear; */
  transition: opacity 3s linear;
}

.dot.enlarged {
  /* transform: scale(1) */
  opacity: 1;
}